
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="comparaison.component.css"/>



  <title>Document</title>
</head>
<body>
  <router-outlet></router-outlet>

  <header class="row bg-primary" style="padding:10px;width:98%;margin:1% ;height:80px;top: 10px;" >
    <div class="colDiv ">
      <nav  class="navbar " >
        <mat-icon style="margin-right:20px;    margin-bottom: 7px;
        font-size: 30px;color: aliceblue;">home</mat-icon>
        <div class="col"><button class="btn btn-danger" style="border-radius:20px" (click)="onDeleteRow()" >
          Delete rows
        </button></div>
  
        <div class="col" ><button class="btn  btn-secondary" style="border-radius:20px" (click)="pinTopRow()">
          Pin to the top
        </button></div>
  
        <div class="col"><button class="btn btn-secondary" style="border-radius:20px" (click)="unpinTopRow()">
          Unpin the top
        </button></div>
      </nav>
    </div> 
    <div class="col">
      <nav class="navbarIcon" style="margin-top: 8px ;">
        <mat-icon> comment</mat-icon>
        <mat-icon>priority_high</mat-icon>
        <mat-icon>sms_failed</mat-icon>
        <mat-icon>done_outline</mat-icon>
        <mat-icon>check_circle_outline</mat-icon>
        <mat-icon>clear</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>list</mat-icon>
        <mat-icon>note_add</mat-icon>
        <mat-icon>reorder</mat-icon>        


      </nav>
    </div>
  
    <div class="col my-width">

      <div style="width:350px;margin-left: 120px;">
        <nav class="navbar" style="margin-top: 7px; ">
          <input class="bi bi-search "  style="width: 300px;text-align: center; border-radius: 20px;" 
          type="text"  placeholder="Quick Search" 
          (keyup)="quickSearch()" [(ngModel)]="searchValue"/>
          <mat-icon style="font-size: 30px;color: aliceblue;margin-right: 10px;margin-bottom:7px ;">help_outline</mat-icon>
  
        </nav>
      </div>
      
        <style>
          .my-width{
            width: 700px !important;
          }
          .ag-pivot-off .ag-header-group-cell {
            font-size: 50px;
            color: red;
        }
        
        .ag-pivot-on .ag-header-group-cell {
            font-size: 25px;
            color: green;
        }
        .ag-cell-label-container {
            /* Necessary to allow for text to grow vertically */
            height: 100%;
        }
        
        .ag-header-cell-label.blueFill  {
            /* Necessary to allow for text to grow vertically */
            height: 100%;
            padding: 0 !important;
            background-color: blue;

        }
        h5 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

        
        </style>
    </div>
  
  </header>
  
  <h5>Design Power Summary per instance 
  </h5>
  
  <ag-grid-angular
  style="width: 9000px; height: 500px;"
    class="ag-theme-balham" 
    (selectionChanged)="onSelectionChanged()"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [gridOptions]="gridOptions"
    rowSelection="single"
    [groupSelectsChildren]="true"
    [aggFuncs]="aggFuncs"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady1($event)"
    
  >
  
  </ag-grid-angular>

  <h5>Combinational Power Summary per instance 
  </h5>


  <ag-grid-angular
  style="width: 9000px; height: 500px;"
  class="ag-theme-balham" 
  (selectionChanged)="onSelectionChanged()"
  [autoGroupColumnDef]="autoGroupColumnDef"
  [gridOptions]="gridOptions"
  rowSelection="single"
  [groupSelectsChildren]="true"
  [groupIncludeTotalFooter]="true"
  [columnDefs]="columnDefs1"
  (gridReady)="onGridReady1($event)"
  >

</ag-grid-angular>

<h5>Register Power Summary per instance 
</h5>


<ag-grid-angular
style="width: 9000px; height: 500px;"
class="ag-theme-balham" 
(selectionChanged)="onSelectionChanged()"
[autoGroupColumnDef]="autoGroupColumnDef"
[gridOptions]="gridOptions"
rowSelection="multiple"
[groupSelectsChildren]="true"
[columnDefs]="columnDefs2"
(gridReady)="onGridReady1($event)"
>

</ag-grid-angular>

<h5>Memory Power Summary per instance 
</h5>


<ag-grid-angular
style="width: 9000px; height: 500px;"
class="ag-theme-balham" 
(selectionChanged)="onSelectionChanged()"
[autoGroupColumnDef]="autoGroupColumnDef"
[gridOptions]="gridOptions"
rowSelection="multiple"
[groupSelectsChildren]="true"
[columnDefs]="columnDefs3"
(gridReady)="onGridReady1($event)"
>

</ag-grid-angular>

<h5>Clock Network Power Summary per instance 
</h5>


<ag-grid-angular
style="width: 9000px; height: 500px;"
class="ag-theme-balham" 
(selectionChanged)="onSelectionChanged()"
[autoGroupColumnDef]="autoGroupColumnDef"
[gridOptions]="gridOptions"
rowSelection="multiple"
[groupSelectsChildren]="true"
[columnDefs]="columnDefs4"
(gridReady)="onGridReady1($event)"
>

</ag-grid-angular>


<h5>Summary
</h5>
<div>
<ag-grid-angular
  style="width: 9000px; height: 500px;"
  class="ag-theme-balham" 
  (selectionChanged)="onSelectionChanged()"
  [autoGroupColumnDef]="autoGroupColumnDef"
  [gridOptions]="gridOptions"
  rowSelection="multiple"
  [groupSelectsChildren]="true"
  [columnDefs]="colu"
  [aggFuncs]="aggFuncs"
  [rowData]="rowData"




  
>

</ag-grid-angular>

</div>

<br>
<table>
<thead>
<tr><th colspan="1" class="header_style"> </th>
<th colspan="3" class="header_style"> POWER NUMBERS </th>
<th colspan="3" class="header_style">RTL_NEW_PA<br> vs <br>GATE_PA</th>
<th colspan="3" class="header_style">RTL_OLD_PA<br> vs <br>GATE_PA</th>
</tr><tr><th colspan="1" class="component" style="text-align:center;">COMPONENTS</th>
<th colspan="1" class="ref_pwr" style="text-align:center;">GATE_PA</th>
<th colspan="1" class="comp1_pwr" style="text-align:center;">RTL_NEW_PA</th>
<th colspan="1" class="comp2_pwr" style="text-align:center;">RTL_OLD_PA</th>
<th colspan="1" class="average1" style="text-align:center;">AVG</th>
<th colspan="1" class="stddev1" style="text-align:center;">STD_DEV</th>
<th colspan="1" class="rmse1" style="text-align:center;">RMSE</th>
<th colspan="1" class="average2" style="text-align:center;">AVG</th>
<th colspan="1" class="stddev2" style="text-align:center;">STD_DEV</th>
<th colspan="1" class="rmse2" style="text-align:center;">RMSE</th>
</tr></thead>
<tbody>
<tr><td class="component"> <a rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a  rel="noopener noreferrer" target="_self">Design Total</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"></td>
<td class="average1"> </td>
<td class="stddev1"></td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a  rel="noopener noreferrer" target="_self">Design Leakage</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"></td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <i style="font-size:14px" class="fa"></i> Design Internal</td>
<td class="ref_pwr">{{gridApi}} </td>
<td class="comp1_pwr"></td>
<td class="comp2_pwr"> </td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a rel="noopener noreferrer" target="_self">Design Switching</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a  rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a rel="noopener noreferrer" target="_self">Combinational Total</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"></td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a  rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a rel="noopener noreferrer" target="_self">Combinational Leakage</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a  rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a rel="noopener noreferrer" target="_self">Combinational Internal</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"></td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a rel="noopener noreferrer" target="_self">Combinational Switching</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a rel="noopener noreferrer" target="_self">Register Total</a></td>
<td class="ref_pwr"></td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"></td>
<td class="rmse2"></td>
</tr>
<tr><td class="component"> <a  rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a rel="noopener noreferrer" target="_self">Register Leakage</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"></td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a rel="noopener noreferrer" target="_self">Register Internal</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"></td>
<td class="stddev2"> </td>
<td class="rmse2"></td>
</tr>
<tr><td class="component"> <a rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a rel="noopener noreferrer" target="_self">Register Switching</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"></td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a  rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a rel="noopener noreferrer" target="_self">Memory Total</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a  rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a rel="noopener noreferrer" target="_self">Memory Leakage</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"></td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a  rel="noopener noreferrer" target="_self">Memory Internal</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"></td>
<td class="stddev1"> </td>
<td class="rmse1">  </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a  rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a  rel="noopener noreferrer" target="_self">Memory Switching</a></td>
<td class="ref_pwr"></td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"></td>
<td class="average1"> </td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"></td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a  rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a  rel="noopener noreferrer" target="_self">Clock Network Total</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"></td>
<td class="comp2_pwr"> </td>
<td class="average1"></td>
<td class="stddev1"> </td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a  rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a  rel="noopener noreferrer" target="_self">Clock Network Leakage</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"></td>
<td class="stddev1"></td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"></td>
</tr>
<tr><td class="component"> <a  rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a  rel="noopener noreferrer" target="_self">Clock Network Internal</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"> </td>
<td class="average1"> </td>
<td class="stddev1"></td>
<td class="rmse1"> </td>
<td class="average2"></td>
<td class="stddev2"></td>
<td class="rmse2"> </td>
</tr>
<tr><td class="component"> <a  rel="noopener noreferrer" target="_self"><i style="font-size:14px" class="fa"></i></a> <a  rel="noopener noreferrer" target="_self">Clock Network Switching</a></td>
<td class="ref_pwr"> </td>
<td class="comp1_pwr"> </td>
<td class="comp2_pwr"></td>
<td class="average1"> </td>
<td class="stddev1"></td>
<td class="rmse1"> </td>
<td class="average2"> </td>
<td class="stddev2"> </td>
<td class="rmse2"> </td>
</tr>
</tbody>
</table>


  
</body>


</html>
