/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-theme-balham.css"; 
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.ag-full-width-container {
    overflow: hidden;
    position: fixed !important;
    width: 100%;
}
.ag-center-cols-container {
    width: auto !important;
    height: 3080px;
}
.navbarIcon > mat-icon{
    margin-left:20px;
    font-size: 30px;
    color: aliceblue;
    margin-top: 7px;
}
.colDiv{
    width: 35% ;
}
.navSearch{
    margin-left:00px ;
    width: 300px;
    
}
.ag-header-group-cell-with-group {
    background-color: CornflowerBlue;
    height: 100%;
    justify-content: center;

    padding: 0 !important;

  
}

  .ag-header-cell-label {
    /* Necessary to allow for text to grow vertically */
    height: 100%;
    justify-content: center;

    padding: 0 !important;
}
.ag-pivot-off .ag-header-group-cell {
    font-size: 15px;
    color: black;
    height: 100%;

    padding: 0 !important;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.ag-pivot-on {
    font-size: 25px;
    color: green;
}
.ag-cell-label-container {
    /* Necessary to allow for text to grow vertically */
    height: 100%;
}
.ag-theme-balham .ag-header-cell{
    background-color: DarkGray;
    font-size: 12px;
    color: black;
    height: 100%;

    padding: 0 !important;
}
.ag-header-group-cell-label {
    justify-content: center !important;
}